.objectlist-table {
    min-width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}
.objectlist__overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #fff;
    opacity: .6;
    display: none;
    z-index: 10;
}

.objectlist-table--scroll {
    overflow-x: auto;
    position: relative;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.objectlist-table__th {
    text-align: left;
    position: relative;
    vertical-align: bottom;
}
.objectlist-table__th {
    text-align: left;
    position: relative;
    vertical-align: bottom;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.objectlist-table__row:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02);
}
.objectlist-table__td, .objectlist-table__th {
    border-top: 1px solid #eceeef;
    padding: .7rem;
}